* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

body {
  background: #f4f3f7;
  overflow-x: hidden;
  color: #2d2a2a;
}

/* html {
  --safe-area-inset-top: env(safe-area-inset-top) !important;
  --safe-area-inset-bottom: env(safe-area-inset-bottom) !important;
  height: calc(
    100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom))
  ) !important;
} */

.app-actions-button {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #f04765 20%, #9c2b40 100%);
  min-width: 200px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 12px 15px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.app-actions-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.app-actions-button:disabled:hover {
  opacity: 0.5;
  box-shadow: none;
}

.app-actions-button:hover {
  opacity: 0.85;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.app-actions-button .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

.app-actions-button .animation.stopped {
  animation: none;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
    0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
    0 0 0 60px rgba(255, 255, 255, 0.1);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}
